/* CSS Document */
/** layout_1220__20170427 **/

/** 基本 **/
body { margin:0px; padding:0px;}

/*全BOX版面*/
.WRAPPER {position:relative; display:inline-block; margin:0; padding:0; width:100%;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER .mainArea { width:1210px;position:relative; display:block; margin:0 auto; z-index:1;}
.mainArea img {width:1210px; margin:0 auto;}
.mainArea .box  {margin:0 auto; margin-top:-36px; padding:0; background:url(bg2_02.png?t=1516100354496) repeat-y;}
.mainArea .imgboo { margin-top:-50px;}

/** 入稿區基本 **/
.content_Area { position:relative; display:inline-block; margin:0px auto 20px auto; 
	padding: 0px 0px 0px 0px;height: auto; }

.buttonAera_more { position: absolute; top:15px; right:15px; padding-left:17px; padding-right:10px;  
	border-radius:60px; width:90px; height:40px; background-color: #666; text-align:center;}

.buttonAera_more a { display:block; padding-top:5px; font: bold 24px/29px Century Gothic; color:#fff; 
	text-decoration: none; letter-spacing:-0.05em;}

.buttonAera_more:hover {background-color: #000;}
.buttonAera_more .btnGO { margin:5px; float:right; width:20px ;height:20px;}

/** 公版模組layout_1220_4x1_01 **/ 
.layout_1220_4x1_01 h2 { position:relative; top:0px; #top:5px; margin:0px; padding:0px; width:1220px; height:74px; 
	font: 46px/74px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center; color:#FFFFFF; letter-spacing:-3px; overflow:hidden;}

.layout_1220_4x1_01 h2 b {font: bold 46px/74px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FFFFFF; letter-spacing:-3px;}
.layout_1220_4x1_01 h2 .buttonAera_more { top:20px; right:20px; background-color: #666; background-color:rgba(0,0,0,0.5);}
.layout_1220_4x1_01 h2 .buttonAera_more:hover {background-color: #000;}
.layout_1220_4x1_01 ul {margin:0px 24px 0px 24px; padding:0px;}

.layout_1220_4x1_01 ul li { float:left; display:inline-block; position:relative; 
	margin:0px 10px 15px;padding: 30px 0px 0px 0px;width: 210px; height:353px; list-style: none outside none;overflow:hidden; 
	background:url(bg_mini.png?t=1516100354496) no-repeat top center;text-align: -webkit-center;}

.layout_1220_4x1_01 ul li a {text-decoration:none;}


.layout_1220_4x1_01 ul li * {
  -webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
       -o-transition: all 0.4s linear;
          transition: all 0.4s linear;}
		  

		  
.layout_1220_4x1_01 ul li a h3 { z-index:1;position:absolute; top:40px; left:40px; margin:0px; padding:60px 0px 0px 12px; 
	width:150px; height:40px;font: bold 16px/20px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align:left;
	color: #fff; background-color:rgba(0,0,0,0); overflow:hidden;}

.layout_1220_4x1_01 ul li a h3 { opacity:0;}

.layout_1220_4x1_01 ul li a img { display:block; margin:0px 0px 0px 0px; padding:0px; width:180px; height:180px;}
.layout_1220_4x1_01 ul li a h4 {margin:10px 0 0 0; padding:0 10px; height:36px; overflow:hidden; 
	font: 14px/18px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: left; color:#555;}

.layout_1220_4x1_01 ul li a h4 b {font-size: 18px;font-weight: 600; overflow:hidden;}
.layout_1220_4x1_01 ul li a p {padding:0px 12px; height:28px;text-align:left; color:#ff2f19;}
.layout_1220_4x1_01 ul li a p del { padding-right:5px; font: 14px Century Gothic; color:#5e5e5e;}
.layout_1220_4x1_01 ul li a p b {font: bold 14px/38px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}
.layout_1220_4x1_01 ul li a p .money { font: bold 14px Century Gothic; }
.layout_1220_4x1_01 ul li a p .Price { font: 30px/32px Century Gothic; letter-spacing:-1px;}
.layout_1220_4x1_01 ul li a p small { font: 14px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}

.layout_1220_4x1_01 ul li a .ii {display:block; margin:0px 0px 0px 0px; padding-top:10px; width: 160px;height: 33px; border: none; }